@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  display: inline;
  justify-content: space-between;
  margin: 0;
}

.container {
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #000;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  margin-right: 15px;
  padding: 3px;
}

nav ul li a {
  text-decoration: none;
  color: #00796b;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00796b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

button.adopt-button {
  border-radius: 20px;
  background-color: #000;
}

button.donate-button {
  border-radius: 20px;
  background-color: #000;
}

h2 {
  color: #004d40;
  text-align: left;
}

.info {
  border-left: 5px solid #69696a;
  padding-left: 15px;
}

.info p {
  color: #004d40;
  line-height: 1.6;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  text-align: right;
  padding: 10px 0;
}

footer p {
  margin: 5px 20px;
  color: #000;
  font-size: x-large;
}

footer a {
  text-decoration: none;
  color: #69696a;
}

p {
  border-left: #000 solid;
  color: #69696a;
  text-align: left;
}

#links {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#links p {
  margin: 0; 
  display: flex;
  justify-content: flex-start; 
  flex: 1; 
}

#links .center-text {
  margin-left: 10px; 
}

/* Media Queries **************************************************************************************************/
@media (min-width: 768px) {
  nav ul {
    justify-content: space-between;
    flex-direction: row;
  }

  .nav-list .left {
    margin-right: auto; 
  }

  .nav-list .right {
    margin-left: 10px; 
  }

  .nav-list .right:last-child {
    margin-right: 0; 
  }

  button adopt-button {
    padding: 8px 16px;
    font-size: 0.9em;
    border-radius: 15px;
  }

  .middle {
    margin-top: 10%;
  }

  .container-two {
    width: 50%;
  }

  .circle1 {
    display: flex;
    background-color: rgba(247, 136, 167, 0.6);
    height: 220px;
    width: 220px;
    border-radius: 50%;
    float: right;
    opacity: 75%;
    margin-top: -140px;
    margin-right: 70px;
    top: 10px;
    right: 50px;
    justify-content: flex-end;
  }
  
  .circle2 {
    display: flex;
    background-color: rgba(247, 193, 162, 0.7);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: right;
    opacity: 75%;
    margin-top: 2px;
    margin-right: -300px;
    top: 10px;
    left: 10px;
    justify-content: flex-end;
  }
  
  .circle3 {
    display: flex;
    background-color: rgba(207, 130, 213, 0.6);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    float: right;
    opacity: 75%;
    margin-top: -90px;
    margin-right: -300px;
    top: 10px;
    left: 10px;
    justify-content: flex-end;
  }
  
  p {
    width: 50%;
  }

  .middle {
    margin-top: 10%;
    width: 50%;
    display: table-row;
    align-items: right;
  }

  h1 {
    text-align: left;
  }

  .donate-button {
    width: 50%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
    padding: 10px 0;
  }

  #links {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
  }

  #links .left {
    margin: 0; 
    flex: 1; 
    text-align: left; 
  }

  #links .right {
    margin: 0;
    text-align: right; 
    padding-right: 20px;
  }

  #links a.center-text {
    text-decoration: none;
    color: #69696a;
    margin-left: 10px; 
    display: inline-block; 
  }

  header {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: left;
  }
}
